#pragma once

// Copy this file and rename to secrets.h, then fill the information below
#define BLYNK_AUTH_TOKEN "your-blynk-auth-token"

char ssid[] = "your-wifi-network-name";
char pass[] = "your-wifi-password";
